@font-face {
    font-family: 'JetBrainsMono-Bold';
    src: url('../../assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-Bold';
    src: url('../../assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono-ExtraBold';
    src: url('../../assets/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-ExtraBold';
    src: url('../../assets/fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono-Light';
    src: url('../../assets/fonts/JetBrainsMono-Light.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-Light';
    src: url('../../assets/fonts/JetBrainsMono-LightItalic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono-ExtraLight';
    src: url('../../assets/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-ExtraLight';
    src: url('../../assets/fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('../../assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('../../assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-style: italic;
}



@keyframes fadeInOut {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}



html, body {
    background: #000;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;

    ::selection {
        background: rgba(255, 255, 255, 0.3);
    }
}
